<!DOCTYPE html>
<html>
<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- Icons Font Awesome and Devicon-->
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="stylesheets/main.css">

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<!-- Animate On Scroll Library (AOS) -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<title>Sean Lee - Portfolio</title>

</head>

<body>

<!-- Title -->
<div class="jumbotron" id="titleContent">
  <div class="center">
	  <h1 class="title">Sean Lee</h1>
  </div>
  <a href="#aboutContent" class="d-none d-md-block"><i class="scroll-down fas fa-chevron-down"></i></a>
</div>

<!-- Navbar -->
<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light d-md-none">
  <a class="navbar-brand" href="#">Sean Lee</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" 
          aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
		<div class="navbar-nav">
		  <a class="nav-item nav-link" href="#aboutContent">About</a>
		  <a class="nav-item nav-link" href="#portfolioContent">Portfolio</a>
		  <a class="nav-item nav-link" href="#courseContent">Coursework</a>
      <a class="nav-item nav-link" href="#projectContent">Projects</a>
		  <a class="nav-item nav-link" href="#skillContent">Skills</a>
		  <a class="nav-item nav-link" href="#contactContent">Contact</a>
		</div>
  </div>
</nav>

<!-- Side Navbar -->
<div class="d-none d-md-block sidenav">
  <a href="#aboutContent">About</a>
  <a href="#portfolioContent">Portfolio</a>
  <a href="#courseContent">Courses</a>
  <a href="#projectContent">Projects</a>
  <a href="#skillContent">Skills</a>
  <a href="#contactContent">Contact</a>
</div>