<%- include('partials/header') -%>

<!-- About me -->
<div id="aboutContent" class="container text-center">
	<h1>About me</h1>
 	<div class="row">
		<div class="col-lg-6">
			<img class="mt-0 mb-5 mt-lg-5" src="images/profile.jpg" height="250px" width="200px" data-toggle="tooltip" data-placement="top" title="Sean Lee">
		</div>
		<div class="col-lg-6 text-md-left">
			<hr>
			<p>I am a Computer Science student at Middle Tennessee State University who enjoys programming and problem-solving. I am also a veteran and a CS tutor for students who need help with programming concepts or detecting errors on their projects. Currently, I'm actively looking for an opportunity to work as a Software Engineer near Franklin, Brentwood, Nashville, or Murfreesboro in Tennessee.</p>
			<br>
			<p>Short term goal: Software Engineer.</p>
			<p>Long term goal: Senior Software Engineer.</p>
			<hr>				
		</div>
	</div>
</div>

<!-- Portfolio -->
<div id="portfolioContent" class="container-fluid">
	<div class="container text-left">
		<h1 class="text-center">Portfolio</h1>
		<!-- Career History -->
		<h2>Career History</h2>
		<hr>

		<!-- experiences.js contains Vue component -->
		<div class="row" v-for="exp in experiences" :key="exp.id">
			<div class="col-lg-5">
				<h3>{{ exp.employer }}</h3>
				<p>{{ exp.date }}</p>
			</div>

			<div class="col-lg-7">
			<p class="font-weight-bold">{{ exp.title }}</p>
			<p class="d-sm-block pb-3 pb-md-0">{{ exp.description }}</p>
			</div>
		</div>

		<br><br>

		<!-- Academic History -->
		<h2 class="text-sm-left">Academic History</h2>
		<hr>
		<div class="row text-sm-left">
			<div class="col-lg-5">
				<h3>Computer Science</h3>
				<p>Jan 2018 - Present</p>
			</div>
			<div class="col-lg-7">
				<p class="font-weight-bold">Middle Tennessee State University</p>
				<p class="d-sm-block">I have learned many technical languages such as C++, Python, C, Ruby, Java, Assembly, and DBMS. I also learned the important concepts such as Object Oriented Programming, data structures, Big O notation, and algorithms. Now, I am in the process of learning web technologies and software engineering.</p>
			</div>
		</div>

	</div>
</div>

<!-- Coursework -->
<div id="courseContent" class="container">
	<h1 class="text-center">Coursework</h1>
		<!-- courses.js contains Vue component -->
		<courses></courses>
</div>

<!-- Technical skills -->
<div id="skillContent" class="container-fluid">
	<div class="container text-center">
		<h1>Technical Skills</h1>	
	  <div class="row">
			<div class="col-xl-3 col-lg-6 pb-5">
				<h2>FRONT END</h2>
				<hr>
				<p>CSS</p> <p>HTML</p> <p>JavaScript</p> <p>Bootstrap</p>
			</div>
			<div class="col-xl-3 col-lg-6 pb-5">
				<h2>BACK END</h2>
				<hr>
				<p>C++</p> <p>Java</p> <p>Node.js</p>
			</div>
			<div class="col-xl-3 col-lg-6 pb-5">
				<h2>OS / TOOLS</h2>
				<hr>
				<p>Linux</p> <p>Windows</p> <p>Visual Studio</p> <p>Git</p>
			</div>
			<div class="col-xl-3 col-lg-6 pb-5">
				<h2>Database</h2>
				<hr>
				<p>MySQL</p> <p>MSSQL</p>
			</div>			
		</div>
	</div>
</div>

<!-- Contact me -->
<div  id="contactContent" class="container-fluid">
	<div class="container text-center">
		<h1 class="text-center">Contact Me</h1>
		<div class="row">
			<div class="col-lg-12">
					<a href="https://www.linkedin.com/in/myung-w-sean-lee-b44725140">
						<i class="fab fa-linkedin fa-5x"></i>
					</a>	
					<a href="https://github.com/MyungLee1992">
						<i class="fab fa-github-square fa-5x"></i>
					</a>	
			</div>
		</div>
	</div>
</div>

<%- include('partials/footer') -%>
