<%- include('partials/header') -%>

<!-- About me -->
<div id="aboutContent" class="container text-center">
	<div data-aos="fade-up">
		<h1>About me</h1>
		<div class="row">
			<div class="col-lg-6 mb-5 my-lg-auto">
				<img class="" src="images/profile.jpg" height="250px" width="200px" data-toggle="tooltip" data-placement="top" title="Sean Lee">
			</div>
			<div class="col-lg-6 text-md-left">
				<hr>
				<p>I am a recent graduate from Middle Tennessee State University with B.S. in Computer Science degree. Seeking Entry-Level Software Engineer/Developer position to contribute my experiences and skills including C++, Java, HTML, CSS, JS, Node.js, MSSQL, and MySQL.</p>
				<br>
				<p>Short term goal: Entry Level Software Engineer.</p>
				<p>Long term goal: Senior Software Engineer.</p>
				<hr>				
			</div>
		</div>
	</div>
</div>

<!-- Portfolio -->
<div id="portfolioContent" class="container-fluid">
	<div class="container text-left" data-aos="fade-up">
		<h1 class="text-center">Portfolio</h1>
		<!-- Career History -->
		<h2>Career History</h2>
		<hr>

		<!-- experiences.js contains Vue component -->
		<div class="row" v-for="exp in experiences" :key="exp.id">
			<div class="col-lg-5">
				<h3>{{ exp.employer }}</h3>
				<p>{{ exp.date }}</p>
			</div>

			<div class="col-lg-7">
			<p class="font-weight-bold">{{ exp.title }}</p>
			<p class="d-sm-block pb-3 pb-md-0">{{ exp.description }}</p>
			</div>
		</div>

		<br><br>

		<!-- Academic History -->
		<h2 class="text-sm-left">Academic History</h2>
		<hr>
		<div class="row text-sm-left">
			<div class="col-lg-5">
				<h3>Computer Science</h3>
				<p>Jan 2018 - May 2020</p>
			</div>
			<div class="col-lg-7">
				<p class="font-weight-bold">Middle Tennessee State University</p>
				<p class="d-sm-block">I have learned many technical languages such as C++, Python, C, Ruby, Java, Assembly, and DBMS. I also learned the important concepts such as Object Oriented Programming, data structures, Big O notation, and algorithms.</p>
			</div>
		</div>

	</div>
</div>

<!-- Coursework -->
<div id="courseContent" class="container">
	<div data-aos="fade-up">
		<h1 class="text-center">Coursework</h1>
		<!-- courses.js contains Vue component -->
		<courses></courses>
	</div>
</div>

<!-- Projects -->
<div id="projectContent" class="container-fluid text-center">
	<div class="container" data-aos="fade-up">
		<h1>Projects</h1>
      <div class="row">
         <div class="col-lg-12 text-center">
         	<a class="d-block project" href="https://raidertrade.herokuapp.com" data-toggle="tooltip" data-placement="top"
         		data-html="true" title="<b>Click for demo!</b>">
					<img class="project-img" src="../images/project1.png" />
					<div class="description">
						<p><b><u>RaiderTrade</u></b></p>
						<p>RaiderTrade is a marketplace website to buy and sell textbooks among students to save money.</p>
						<p>RaiderTrade is developed in Java with Spring Boot, Apache Maven, RESTful API, MVC Architecture, JPA, JSP, and MySQL</p>
					</div>
            </a>
         </div>
      </div>	<!-- row -->
	</div>
</div>

<!-- Technical skills -->
<div id="skillContent" class="container text-center">
	<div data-aos="fade-up">
		<h1>Technical Skills</h1>	
	   <div class="row">
			<div class="col-xl-3 col-lg-6 pb-5">
				<h2>FRONT END</h2>
				<hr>
				<p><i class="devicon-css3-plain colored"> CSS</i></p>
				<p><i class="devicon-html5-plain colored"> HTML</i></p>
				<p><i class="devicon-javascript-plain colored"> JavaScript</i></p>
				<p><i class="devicon-bootstrap-plain colored"> Bootstrap</i></p>
			</div>
			<div class="col-xl-3 col-lg-6 pb-5">
				<h2>BACK END</h2>
				<hr>
				<p><i class="devicon-cplusplus-plain colored"> C++</i></p>
				<p><i class="devicon-java-plain colored"> Java</i></p>
				<p><i class="devicon-nodejs-plain colored"> Node.js</i></p>
			</div>
			<div class="col-xl-3 col-lg-6 pb-5">
				<h2>OS / TOOLS</h2>
				<hr>
				<p><i class="devicon-linux-plain colored"> Linux</i></p>
				<p><i class="devicon-windows8-original colored"> Windows</i></p>
				<p><i class="devicon-visualstudio-plain colored"> VS</i></p>
				<p><i class="devicon-git-plain colored"> Git</i></p>
			</div>
			<div class="col-xl-3 col-lg-6 pb-5">
				<h2>DATABASE</h2>
				<hr>
				<p><i class="devicon-mysql-plain colored"> MySQL</i></p>
				<p class="text-danger"><img src="https://img.icons8.com/color/48/000000/microsoft-sql-server.png"/> MS SQL</p>
			</div>			
		</div>
	</div>
</div>

<!-- Contact me -->
<div id="contactContent" class="container-fluid">
	<a href="#titleContent" class="d-none d-md-block">
		<i class="scroll-up fas fa-chevron-up" data-toggle="tooltip" data-placement="left" title="Go to Top"></i>
	</a>
	<div class="container text-center" data-aos="fade-up">
		<h1 class="text-center">Contact Me</h1>
		<div class="row">
			<div class="col-lg-12">
					<a href="https://www.linkedin.com/in/myung-sean-lee"
						data-toggle="tooltip" data-placement="bottom" title="Linkedin">
						<i class="fab fa-linkedin fa-5x"></i>
					</a>
					
					<a href="https://github.com/MyungLee1992"
						data-toggle="tooltip" data-placement="bottom" title="Github">
						<i class="fab fa-github-square fa-5x"></i>
					</a>
			</div>
		</div>
	</div>
</div>

<%- include('partials/footer') -%>
